:root {
  --color-primary: #d46b3c;
  --color-black: #111;
  --color-transparent: transparent;
  --color-text-light: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: var(--color-text-light);
}

body {
  overflow-x: hidden;
  background-image: url('../assets/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
