:root {
  --color-green: #ccd5ae;
  --color-light-green: #e9edc9;
  --color-primary: #fb5607;
  --color-purple: #8338ec;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

.navbar {
  display: flex;
  width: 100vw;
  padding: 2rem 1rem;
  background-color: var(--color-green);

  flex-direction: row;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 1rem;
}
